<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/home.css">
    <title>Home</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="island-left">
            <h1>Welcome to QuickNote!</h1>
            <p style="margin-bottom: 20px;">Click button below to start.</p>
            <div class="button-container">
                <a href="/create"><button>New message</button></a>
            </div>
        </div>
        <div class="island-right">
            <h1>About</h1>
            <p>QuickNote is a simple way to anonymously share self-destructing encrypted messages via link.</p>
            <p>For additional info see our Wiki.</p>
        </div>
    </div>
</body>
</html>
