<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/view.css">
    <title>View message</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="island-left">
            <h1>Message</h1>

            <div class="message-container">
                <p style="margin:0;">{{.Content}}</p>
            </div>

            {{if .FileExists}}
                <div class="file-name">{{.FileName}}</div>
                <a href="/download/{{.Link}}/{{.FileName}}" download>Download file</a>
                {{if .IsImage}}
                    <img src="/uploads/{{.Link}}/{{.FileName}}" alt="{{.FileName}}" style="max-width: 100%; height: auto; margin-top: 10px;" />
                {{end}}
                <div class="warning-island">
                    <strong>Warning:</strong> This file may be potentially unsafe. We were unable to verify its safety.
                </div>
            {{end}}
        </div>
        <div class="island-right">
            <h1>Want to create your own message?</h1>
            <p>Click the button below and send your one-time private message to anyone. Anonymously.</p>
            <div class="button-container" style="margin-top: 20px; text-align: center;">
                <a href="/create"><button>New message</button></a>
            </div>
        </div>
    </div>
</body>
</html>
